In [2]:
import numpy as np
import pandas as pd

In [3]:
data_client_1 = pd.read_csv("./data/data/node01/data.csv", index_col=0)
data_client_2 = pd.read_csv("./data/data/node02/data.csv", index_col=0)
data_client_3 = pd.read_csv("./data/data/node03/data.csv", index_col=0)
data_client_4 = pd.read_csv("./data/data/node04/data.csv", index_col=0)
data_client_5 = pd.read_csv("./data/data/node05/data.csv", index_col=0)

In [4]:
data_client_1.head()

,0,1,2,3,4,5,6,7,8,9,...,503,504,505,506,507,508,509,510,511,512
0,-72,-64,-60,-58,-57,-57,-58,-58,-57,-57,...,-112,-112,-113,-115,-117,-117,-116,-114,-113,2
1,-79,-68,-62,-59,-58,-58,-58,-58,-57,-57,...,-102,-96,-91,-86,-83,-81,-81,-82,-85,2
2,-74,-65,-61,-58,-57,-57,-57,-57,-57,-57,...,-28,-29,-31,-35,-39,-45,-50,-52,-52,7
3,-73,-64,-60,-58,-57,-57,-57,-57,-57,-57,...,-119,-117,-115,-111,-108,-104,-102,-99,-98,3
4,-72,-63,-60,-58,-57,-57,-57,-58,-57,-57,...,-99,-107,-115,-119,-120,-118,-118,-118,-119,2

In [5]:
data_client_2.head()

,0,1,2,3,4,5,6,7,8,9,...,503,504,505,506,507,508,509,510,511,512
0,-72,-64,-60,-58,-57,-57,-58,-58,-57,-57,...,-112,-112,-113,-115,-117,-117,-116,-114,-113,2
1,-79,-68,-62,-59,-58,-58,-58,-58,-57,-57,...,-102,-96,-91,-86,-83,-81,-81,-82,-85,2
2,-74,-65,-61,-58,-57,-57,-57,-57,-57,-57,...,-28,-29,-31,-35,-39,-45,-50,-52,-52,7
3,-73,-64,-60,-58,-57,-57,-57,-57,-57,-57,...,-119,-117,-115,-111,-108,-104,-102,-99,-98,3
4,-72,-63,-60,-58,-57,-57,-57,-58,-57,-57,...,-99,-107,-115,-119,-120,-118,-118,-118,-119,2

In [6]:
data_client_3.head()

,0,1,2,3,4,5,6,7,8,9,...,503,504,505,506,507,508,509,510,511,512
0,-74,-64,-61,-58,-57,-57,-57,-57,-57,-57,...,-61,-57,-51,-46,-42,-39,-37,-36,-36,7
1,-77,-67,-62,-59,-58,-58,-58,-58,-57,-57,...,-58,-57,-58,-60,-64,-69,-75,-82,-90,0
2,-73,-64,-61,-58,-57,-57,-57,-57,-57,-57,...,-109,-108,-108,-109,-110,-110,-110,-110,-110,4
3,-74,-65,-61,-58,-57,-57,-57,-57,-57,-57,...,-107,-108,-110,-112,-113,-114,-115,-116,-118,5
4,-74,-65,-61,-58,-57,-57,-57,-57,-57,-57,...,-111,-111,-112,-113,-115,-116,-118,-120,-122,6

In [3]:
data_client_1.shape

(3200, 513)

In [4]:
data_client_1.isna().sum()

0      0
1      0
2      0
3      0
4      0
      ..
508    0
509    0
510    0
511    0
512    0
Length: 513, dtype: int64

In [5]:
data_client_2.isna().sum()

0      0
1      0
2      0
3      0
4      0
      ..
508    0
509    0
510    0
511    0
512    0
Length: 513, dtype: int64

In [6]:
data_client_3.isna().sum()

0      0
1      0
2      0
3      0
4      0
      ..
508    0
509    0
510    0
511    0
512    0
Length: 513, dtype: int64

In [7]:
data_client_4.isna().sum()

0      0
1      0
2      0
3      0
4      0
      ..
508    0
509    0
510    0
511    0
512    0
Length: 513, dtype: int64

In [8]:
data_client_5.isna().sum()

0      0
1      0
2      0
3      0
4      0
      ..
508    0
509    0
510    0
511    0
512    0
Length: 513, dtype: int64

In [9]:
data_client_1[data_client_1.columns[-1]].value_counts()

5    431
3    410
4    404
0    402
1    392
2    391
7    391
6    379
Name: 512, dtype: int64

In [10]:
x_client_1 = data_client_1[data_client_1.columns[0:512]]
y_client_1 = data_client_1[data_client_1.columns[-1]]

x_client_2 = data_client_2[data_client_2.columns[0:512]]
y_client_2 = data_client_2[data_client_2.columns[-1]]

x_client_3 = data_client_3[data_client_3.columns[0:512]]
y_client_3 = data_client_3[data_client_3.columns[-1]]

x_client_4 = data_client_4[data_client_4.columns[0:512]]
y_client_4 = data_client_4[data_client_4.columns[-1]]

x_client_5 = data_client_5[data_client_5.columns[0:512]]
y_client_5 = data_client_5[data_client_5.columns[-1]]

In [11]:
print(x_client_1.shape)
print(y_client_1.shape)

(3200, 512)
(3200,)

In [12]:
import scipy.io as sio
def getTestDataset():
    database = sio.loadmat('./testData/data_base_all_sequences_random.mat')

    x = database['Data_test_2']
    y = database['label_test_2']

    return x, y

In [13]:
x_test, y_test = getTestDataset()

In [14]:
print(x_test.shape)
print(y_test.shape)

(16000, 512)
(16000, 1)

In [15]:
y_test = np.reshape(y_test, (y_test.shape[0],))
print(y_test.shape)

(16000,)

In [16]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
scaler_model = scaler.fit(x_client_1)

In [17]:
x_client_1_scaled = scaler_model.transform(x_client_1)
x_client_2_scaled = scaler_model.transform(x_client_2)
x_client_3_scaled = scaler_model.transform(x_client_3)
x_client_4_scaled = scaler_model.transform(x_client_4)
x_client_5_scaled = scaler_model.transform(x_client_5)
x_test_scaled = scaler_model.transform(x_test)

c:\Users\sshob\Desktop\C&S\code\CodeBase\lib\site-packages\sklearn\base.py:451: UserWarning: X does not have valid feature names, but MinMaxScaler was fitted with feature names
  "X does not have valid feature names, but"

(3200, 512)

In [19]:
print(x_client_1_scaled.shape)
print(x_test_scaled.shape)

(3200, 512)
(16000, 512)